{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}
{% block stylesheets_custom %}
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/style.css">
{% endblock %}


{% block right %}
    <h1>A propos</h1>
    <div class="jumbotron">
        {#        <h4 class="display-6">Hello, world!</h4> #}
        <p class="text-light">Vous pouvez avoir quelques infos supplémentaires.<br>
        N'hésitez pas à nous contacter.</p>
        <hr class="my-3">
        <div class="row h-100">
            <div class="col-5 ">
                {% include 'partials/formcontact.html.twig' %}
            </div>
            <div class="col-6 ">
                {% include 'partials/locate.html.twig' %}
            </div>
            <div class="col-1 ">
                <div class="card-header info-color rounded-top "><i class="bi bi-link-45deg"></i></div>
                <div id="socials" class="card rounded-bottom align-items-center d-flex pt-4 h-100"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extrajs %}
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript">
        loadMenu('data/menu.json')
        loadSocials('data/socials.json')
    </script>

{% endblock %}