{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets_custom %}
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block right %}
    <h1>Accueil</h1>
    <div class="jumbotron">
        <h4 class="display-6">Bienvenue !</h4>
        <p class="text-light">Un site sur la technologie informatique.</p>
        <p></p>
        <hr class="my-3">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
        </p>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript">
        loadMenu("data/menu.json")
    </script>
{% endblock %}