{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block right %}
	<div class="mt-3 px-3 p-2 bgo-80 card2 rounded">
		<h1>Accueil</h1>
		<div class="jumbotron">
			<h4 class="display-6">Bienvenue !</h4>
			<p class="text-light">Un site sur la technologie informatique.</p>			
		</div>
	</div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="assets/js/common.js"></script>
	<script type="text/javascript"></script>
{% endblock %}
