html,body{
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    width:100%;
    height:100vh;
    margin: 0;
    /*overflow:hidden;*/
    background: url("../images/fond.jpg") no-repeat;
    background-size:cover;
    margin-bottom:5px;
}

.frameLeft{
    /*position:absolute;*/
    /*left:2px;*/
    /*top:5px;*/
    margin-top: 5px;
    min-width :280px;
    max-width :320px;

    height :96%;
    border:1px solid white;
    border-radius: 12px;
    box-shadow: 2px 2px 8px black;
    background:linear-gradient(0deg,#fffff03b,#fffff026 );
}

.frameLeft ul{
    list-style-type:none;
    color:white;
    margin-left:10px;
    margin-top:10px;
    line-height:45px;
    font-size:18px;
}

.frameLeft ul a{
    text-decoration:none;
    color: #dadada;
}

.frameLeft ul a:hover{
    text-decoration:none;
    color: white;
}


hr{
    margin:8px 0!important;
    color: #2fafe7!important;
    opacity:0.8!important;
}

.display-6 {
    font-size: 2.05rem!important;
}

.frameGrid {
    margin:10px;

    width:100%;
    height:inherit;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left:5px;
    /*grid-template-rows: repeat(7, 1fr);*/
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.frameMain{
    height:63%;
    overflow-x: hidden;
    overflow-y: auto;
    border:1px solid white;
    border-radius: 12px;
    box-shadow: 2px 2px 8px black;
    background:linear-gradient(0deg,#00000091,#000 );
}

.folio{
    margin: 5px auto;
    color:lightgray;
    padding:4px;
    text-align: center;
    width:200px;
    height:200px;
    overflow-y: hidden;
    border:0.25px solid lightgray;
    border-radius: 12px;
    box-shadow: 2px 2px 8px black;
    background:linear-gradient(#00000091, rgb(128, 128, 128));
}
.folio:hover{
    color:whitesmoke;
    border:0.25px solid white;
    cursor:pointer;
}
.folio img{
    display:flex;
    margin:auto;
    align-items:center;
    justify-content:center;
    object-fit: contain;
    width:90%;
    height:90%;
}

.col-9{
    width:79%!important;
}

